:root{
    --background-color: #000000; 
    --color-principal:#ffffff;
    --fonte-principal: @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
    --fonte--secundaria:@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');
}
*{
    margin:0;
    padding:0;
}
body{
    height: 100vh;
    box-sizing:border-box;
    background: var(--background-color);
    color: var(--color-principal);
    font: var(--fonte-principal);
}
 .titulo-destaque{
    color: #22D4FD;
 }
 .principal{
   margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
 }
 .descricao{
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
 }
 .descricao_titulo{
    font-size: 2.0rem;
    font-family: 'Krona One', sans-serif;
 }
 .descricao_conteudo{
   font-size: 1.25rem;
   font-family: 'Montserrat', sans-serif;

 }
 .descricao_botoes{
   display: flex;
   justify-content: center;
   flex-direction: column; 
   align-items: center;
   gap: 1rem
}
.descricao_botao{
   /* background-color: #22D4FD; */
   text-align: center;
   width: 8rem;
   padding: 1.344rem 1.813rem;
   border-radius: 0.5rem;
   text-decoration: none;
   color:#f0f0f0;
   font-family: 'Montserrat', sans-serif;
   border: solid 0.063rem #22D4FD;
}
.principal img{
   width: 25rem;
   height: auto;
   border-radius: 1rem;
}